# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/crowditb/crowditbuildit.site"
PassengerBaseURI "/"
PassengerPython "/home/crowditb/virtualenv/crowditbuildit.site/3.8/bin/python"
PassengerAppLogFile "/home/crowditb/crowditbuildit.site/logs"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END